.teac-detail-container{
    text-align: center;
    margin-top: 25px;
    
}

.teacher-email{
    text-align: center;
    background-color: burlywood;
    margin-top: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.detail-btns{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.green-btn {
    border-radius: 10px;
    background-color: green;
    color: #fff;
    padding-bottom: 3px;
    width: 100px;
    border: 0px;
}

.yellow-btn {
    border-radius: 10px;
    background-color: rgba(187, 187, 9, 0.66);
    color: #fff;
    padding-bottom: 3px;
    width: 100px;
    border: 0px;
}

.detail-img{
    width: 200px;
    height: 200px;
}